<!-- <app-header></app-header> -->

<div class="main-content-wrapper">
</div>
<!--main-firm starts here-->
<div class="main-firm">
    <div class="container">
        <div *ngIf="labelsView" class="d-flex align-items-center summary-bg-firm">
            <p class="perform-mes-wrapper tab-active" (click)="labels()">Labels</p>
        </div>
        <div *ngIf="testimonialsView" class="d-flex align-items-center summary-bg-firm">
            <p class="perform-mes-wrapper" (click)="labels()">Labels</p>
        </div>
    </div>
    <div *ngIf="labelsView" class="">
        <div class="d-flex align-items-center main-wrapper">
            <div class="neque-wrapper">
                <img src="assets/images/home4.png" alt="bnp" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home5.png" alt="bank" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home1.png" alt="home1" class="img-fluid w-100">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home7.png" alt="bank" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
        </div>
        <div class="d-flex align-items-center main-wrapper">
            <div class="neque-wrapper">
                <img src="assets/images/home9.png" alt="bnp" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home7.png" alt="bank" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home6.png" alt="bank" class="img-fluid">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
            <div class="neque-wrapper">
                <img src="assets/images/home1.png" alt="home1" class="img-fluid w-100">
                <p class="ipsum-wrapper">
                    Neque porro quisquam est qui dolorem ipsum
                </p>
                <p class="humour-wrapper">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even...
                </p>
                <p class="file-firm">Download File</p>
            </div>
        </div>
    </div>
    <!--quality-testimonials clickpart starts here-->
    <div *ngIf="testimonialsView">
        <div class="d-flex align-items-center main-wrapper">
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Michael</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Rodriguez</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Christopher</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center main-wrapper">
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Michael</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Rodriguez</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
            <div class="Testimonials-wrapper">
                <img src="assets/images/quote.png" alt="quote" class="img-fluid quote-img">
                <div class="sit-wrapper">
                    <p class="role-text">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </p>
                    <p class="humour-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="michael-text">Christopher</p>
                    <p class="role-firm">Designation/Role</p>
                </div>
            </div>
        </div>
    </div>
    <!--quality-testimonials clickpart ends here-->
</div>
<!--main-firm ends here-->
<!-- askQuestion-wrapper starts here -->
<div class="askQuestion-wrapper">
    <div class="container ask-wrapper">
        <div class="question-firm">
            <h1 class="touch-text text-white AvenirLTStd-Regular">
                {{"label.questions" | translate}}?
            </h1>
            <button class="touch-btn AvenirLTStd-Regular text-center" [routerLink]="['/contact-us']">
                {{"label.button" | translate}}
            </button>
        </div>
    </div>
</div>
<!-- askQuestion-wrapper ends here -->

<app-new-footer></app-new-footer>