<!-- <app-header></app-header> -->
<div class="main-content-wrapper">
    <div class="container container-main-wrapper">
        <div class="text-center">
            <h4 class="us-firm-text">{{ "label.Partner_Title" | translate }}</h4>
            <h4 class="us-firm-text">{{ "label.Partner_Title2" | translate }}</h4>
        </div>
    </div>
</div>
<!--cards-section starts here-->
<div>
    <div class="d-flex align-items-center bnp-card-firm flex-wrap" style="margin-top: 30px">
        <!-- accor -->
        <div class="bnp-card">
            <div class="bank-img">
                <img src="assets/images/acor.png" alt="bank" class="imgSize" />
            </div>
            <div class="panel-wrapper">
                <a href="#panel-more" class="show btn" id="panel-more">{{
                    "label.readmore" | translate
                    }}</a>
                <a href="#panel-less" class="hide btn" id="panel-less">Read Less</a>
                <div class="panel bnp-panel">
                    Des tarifs spécifiques vous sont proposés en tant que client exclusif Maybe@Home pour profiter des belles prestations hôtelières du Groupe Accor le temps de la période de test. Bénéficiez des tarifs préférentiels(1) sur différentes gammes d’hôtels(2)
                    du groupe Accor. Si vous remplissez les conditions(3) pour en bénéficier, contactez-nous via le formulaire de contact afin que nous puissions procéder à l’envoi de la promotion. 1 : nuitée et petit dejeuner 2 : -10% pour 4-5* & -5%
                    pour 2-3* non cumulable. 3 : Propriétaire qui possède un bien en vente sur Maybe@Home
                </div>
                <div class="fade"></div>
            </div>
            <div class="position-absolute fade-wrapper"></div>
        </div>

        <div class="bnp-card">
            <div class="bank-img">
                <img src="assets/images/asg.jpg" alt="bank" class="imgSize" />
            </div>
            <div class="panel-wrapper">
                <a href="#show-more" class="show btn" id="show-more">{{
                    "label.readmore" | translate
                    }}</a>
                <a href="#hide-less" class="hide btn" id="hide-less">Read Less</a>
                <div class="panel">
                    Des financements à taux concurrentiels sont proposés aux clients exclusifs Maybe@Home : Faites vous accompagner par un professionnel dans votre projet immobilier grâce à notre partenaire exclusif ASG Courtage. Lien : https://www.asgcourtage.com/financement-avec-notre-partenaire-exclusif/
                </div>
                <div class="fade"></div>
            </div>
            <div class="position-absolute fade-wrapper"></div>
        </div>
        <div class="bnp-card">
            <div class="bank-img text-center">
                <img src="assets/images/bbhotel.png" alt="bank" class="imgSize" />
            </div>

            <!-- Done -->
            <div class="panel-wrapper">
                <a href="#show-firm" class="show btn" id="show-firm">{{
                    "label.readmore" | translate
                    }}</a>
                <a href="#hide-firm" class="hide btn" id="hide-firm">Read Less</a>
                <div class="panel main-panel-firm">
                    Bénéficiez de tarifs avantageux dans un hôtel près de chez vous. Profitez dès maintenant d’une réduction de 10 %(1) sur une sélection d’hôtels(2) grâce à notre partenaire hôtelier B&B Hotels. Contactez-nous via le formulaire de contact afin que nous puissions
                    procéder à l’envoi du code promotionnel. 1 : Offre non cumulable avec une autre offre promotionnelle. 2 :Uniquement dans les hôtels participants, contactez-nous pour recevoir la liste exhaustive des hôtels participant à l’offre.
                </div>
                <div class="fade"></div>
            </div>
            <div class="position-absolute fade-wrapper"></div>
        </div>
        <div class="bnp-card">
            <div class="bank-img text-center">
                <img src="assets/images/axa-logo.png" alt="Axa" class="imgSize" />
            </div>

            <!-- Done -->
            <div class="panel-wrapper">
                <a href="#axa-show" class="show btn" id="axa-show">{{
                    "label.readmore" | translate
                    }}</a>
                <a href="#axa-hide" class="hide btn" id="axa-hide">Read Less</a>
                <div class="panel main-panel-firm">
                    Avec MaybeAtHome et notre partenaire exclusif AXA, faites tester votre bien en toute sérénité : nous vous offrons une assurance complémentaire durant le test de votre bien, pour un montant allant jusqu’à 1 500 000 €.
                </div>
                <div class="fade"></div>
            </div>
            <div class="position-absolute fade-wrapper"></div>
        </div>
        <div class="bnp-card  bnp-cardend-content ">
            <div class="bank-img" style="text-align: center;">
                <img src="assets/images/group-logo.png" alt="bank" class="imgSize" />
            </div>
            <div class="panel-wrapper">
                <a href="#gg-more" class="show btn" id="gg-more">{{
                    "label.readmore" | translate
                    }}</a>
                <a href="#gg-less" class="hide btn" id="gg-less">Read Less</a>
                <div class="panel bnp-panel">
                    <p>Maybe@Home a sélectionné la société de nettoyage ESSI dans un seul but : être présent sur tout le territoire national avec plus de 3 400 collaborateurs, une qualité de travail incroyable avec une réactivité rapide et très professionnelle.</p>
                    <p>Le Groupe ESSI Propreté se démarque par son engagement envers le développement durable, en utilisant des produits et des méthodes respectueuses de l'environnement, ainsi qu'en proposant des solutions innovantes pour réduire la consommation
                        d'eau et d'énergie. Notre partenaire a plus de 40 ans d'existence. </p>
                </div>
                <div class="fade"></div>
            </div>
            <div class="position-absolute fade-wrapper"></div>
        </div>
    </div>
</div>
<!--cards-section ends here-->

<!-- askQuestion-wrapper starts here -->
<div class="askQuestion-wrapper">
    <div class="container ask-wrapper">
        <div class="question-firm">
            <h1 class="touch-text text-white AvenirLTStd-Regular">
                {{ "label.questions" | translate }}
            </h1>
            <button class="touch-btn AvenirLTStd-Regular text-center" [routerLink]="['/contact-us']">
                {{ "label.button" | translate }}
            </button>
        </div>
    </div>
</div>
<!-- askQuestion-wrapper ends here -->
<app-new-footer></app-new-footer>
<div id="destination"></div>