.organization-bg {
  padding: 0 0 229px;
  background-color: #f5f7ff;
}
.organization-bg .summary-bg-firm {
  margin-left: 33px;
}
.organization-bg .perform-mes-wrapper {
  margin: 40px 15px;
  font-size: 16px;
  color: #969696;
  height: 34px;
}
.organization-bg .perform-mes-wrapper:hover {
  border-bottom: 2px solid #31567f;
  color: #31567f;
}
.organization-bg .handle-wrapper {
  height: auto;
  padding: 25px 25px 57px;
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
  margin: 0 30px 0 30px;
}
.organization-bg .handle-wrapper .handle-text-firm {
  margin-left: 20px;
  font-size: 15px;
  color: #001935;
}
.organization-bg .handle-wrapper .row-firm {
  border-top: 0px !important;
}
.organization-bg .handle-wrapper .change-wrapper {
  justify-content: space-between;
}
.organization-bg .handle-wrapper .change-wrapper .member-firm {
  margin: 3px 10px 33px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #31567f;
}
.organization-bg .handle-wrapper .change-wrapper .select-firm {
  margin: 3px 0 3px 10px;
  font-size: 15px;
  text-align: left;
  color: #969696;
}
.organization-bg .handle-wrapper .mail-firm {
  font-size: 16px;
  color: #969696;
  font-weight: normal;
  text-align: center;
  background-color: #f5f7ff;
  border-top: 0px !important;
  border-bottom: 0px !important;
}
.organization-bg .handle-wrapper .inner-handle-text {
  font-size: 15px;
  color: #001935;
  padding: 23px;
  text-align: center;
}
.organization-bg .handle-wrapper .per-list-wrapper {
  justify-content: center;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container {
  justify-content: flex-end;
  margin-right: 41px;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-paginator-page-size-label {
  margin: 0 4px !important;
  margin: 4px 15px 4px 0 !important;
  font-size: 16px !important;
  color: #001935 !important;
  font-family: SourceSansPro !important;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-select-value {
  margin: 4px 15px 4px 0 !important;
  display: table-cell !important;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: SourceSansPro;
  font-size: 16px;
  color: #001935;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-paginator-range-label {
  margin: 4px 15px 0px 15px;
  font-size: 16px;
  color: #001935;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-button.mat-primary.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-button.mat-accent.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-button.mat-warn.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-button.mat-button-disabled.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-icon-button.mat-primary.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-icon-button.mat-accent.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-icon-button.mat-warn.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-icon-button.mat-button-disabled.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-stroked-button.mat-primary.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-stroked-button.mat-accent.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-stroked-button.mat-warn.mat-button-disabled,
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: #001935;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #31567f;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px;
}
.organization-bg ::ng-deep .mat-paginator .mat-paginator-container ::ng-deep .mat-select-arrow {
  color: #001935;
}
.organization-bg .required-input {
  width: 240px;
  height: 45px;
  margin: 20px 15px 20px 9px;
  padding: 11px 15px;
  border-radius: 23px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
}
.organization-bg .required-arrow {
  position: absolute;
  top: 8px;
  right: 19px;
  color: #969696;
}
.organization-bg .required-form-input {
  font-size: 15px;
  text-align: left;
  color: #969696;
  border: 0;
  background-color: transparent;
  outline: 0;
}
.organization-bg .commision-select {
  width: 240px;
  height: 45px;
  padding: 12px 52px 11px 15px;
  border-radius: 23px;
  border: solid 1px #31567f;
  background-color: #ffffff;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #31567f;
  box-shadow: none;
}
.organization-bg .sales-dropdown {
  width: 240px;
  border: 1px solid #f5f7ff !important;
}
.organization-bg .sales-firm {
  border-bottom: 1px solid #f5f7ff;
  font-size: 15px;
  color: #969696;
}
.organization-bg .sales-firm:hover {
  color: #31567f;
  background-color: transparent;
}
.organization-bg .sales-firm-text {
  font-size: 15px;
  color: #969696;
}
.organization-bg .sales-firm-text:hover {
  color: #31567f;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 880px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 568px) {
  .handle-wrapper {
    width: 100% !important;
    margin: 0px !important;
  }
  .change-wrapper {
    flex-wrap: wrap;
  }
}
.select {
  background: transparent url(../../../assets/images/select.svg) no-repeat right 0.75rem center;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  width: 20%;
}

th {
  width: auto;
  font-weight: bold;
  color: darkgrey;
  font-size: 16px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-header-row {
  background-color: #f5f7ff;
}

th.mat-header-cell {
  border-bottom-width: none !important;
  border-bottom-style: none !important;
}/*# sourceMappingURL=org-profile-testbills.component.css.map */