<div class="d-flex forgot-bg-img">
    <div class="forgot-flex"></div>
    <div class="forgot-form">
        <div class="forgot-logo" (click)="navigateToHomePage()"></div>
        <div class="forgot-form_div">
            <div class="forgot-wrapper">
                <h4 class="forgot-text">{{"label.forgotPassword"|translate}}</h4>
                <div class="forgot-mail">
                    <input type="email" placeholder="Email" class="form-control mail-forgot-firm"
                        [(ngModel)]="resetEmail" name="resetEmail">
                </div>
                <button type="submit" class="sub-forgot-btn"
                    (click)="submitEmail()">{{"label._submit"|translate}}</button>
            </div>
        </div>
    </div>
    <div class="forgot-flex"></div>
</div>