.forgot-bg-img {
  background-image: url("../../../assets/images/Group281.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  .forgot-flex {
    flex-grow: 1;
    height: 233px;
    margin-top: 180px;
  }
  .forgot-form {
    width: 400px;
    height: auto;
    .forgot-logo {
      background-image: url("../../../assets/images/register/Redesign\ Logo\ white.svg");
      width: 219px;
      height: 56.7px;
      object-fit: contain;
      margin: 30px 0 45px 88px;
      cursor: pointer;
    }
    .forgot-form_div {
      background-color: #ffffff;
      border-radius: 6px;
      .forgot-wrapper {
        width: 400px;
        height: 260px;
        padding: 0 20px 30px 0;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 var(--black-16);
        background-color: #ffffff;
        .forgot-text {
          padding: 30px 25px 0;
          font-size: 24px;
          text-align: left;
          color: #31567f;
        }
        .forgot-mail {
          width: 360px;
          height: 45px;
          margin: 50px 0 20px 20px;
          padding: 5px;
          border-radius: 23px;
          border: solid 1px #e2e2e2;
          background-color: #ffffff;
          .mail-forgot-firm {
            font-size: 15px;
            text-align: left;
            border: 0;
            outline: none;
            box-shadow: none;
          }
        }
        .sub-forgot-btn {
          width: 360px;
          font-size: 15px;
          text-align: center;
          color: #ffffff;
          margin: 15px 0 35px 20px;
          padding: 13px 100px;
          border-radius: 23px;
          box-shadow: 0 2px 4px 0 var(--black-16);
          background-color: #31567f;
          border: 0;
          outline: none;
        }
      }
    }
  }
}
