.popup-heading {
    font-size: 18px;
    font-weight: 500;
    color: rgba(45, 61, 77, .7);
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;
}

.delete-wrapper {
    // padding: 15px;
}

.cancel-button {
    background: #ccc;
    margin-left: 15px !important;
    border: none;
    padding: 5px 16px;
    font-size: 16px;
}

.Save-button {
    background-color: #00bceb;
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
    border: none;
    padding: 5px 16px;
}

:host ::ng-deep .mat-dialog-container {
    padding: 0px!important;
}

.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}