<!-- <app-header></app-header> -->
<div class="main-content-wrapper">
</div>
<!--terms section starts here-->
<div class="container">
    <div style="float: right;">
        <button class="nav-CreatListning-btn d-flex mr-3" (click)="askForPDF()">
            {{"Term_Condition.Download_terms_condition" | translate}}
        </button>
    </div>
    <h4 class="terms-text">{{"Term_Condition.Terms_Condition-Title" | translate}}</h4>
    <p class="terms-paragragh-text">{{"Term_Condition.TopText1" | translate}}<br>
        <br> {{"Term_Condition.TopText2" | translate}}. {{"Term_Condition.LastUpdate" | translate}}:
        {{"Term_Condition.LastUpdateDate" | translate}}
    </p>
</div>
<!--terms section starts here-->
<!--accordian starts here-->
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <a class="card-header" id="headingOne" role="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        {{"Term_Condition.PART1" | translate}}
                    </a>
                </h2>
            </a>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text1.1" | translate}}<br>
                    <br> {{"Term_Condition.Text1.2" | translate}}<br>
                    <br> {{"Term_Condition.Text1.3" | translate}}<br>
                    <br> {{"Term_Condition.Text1.4" | translate}}<br>
                    <br> {{"Term_Condition.Text1.5" | translate}}<br>
                    <br> {{"Term_Condition.Text1.6" | translate}}<br>
                    <br> {{"Term_Condition.Text1.7" | translate}}<br>
                    <br> {{"Term_Condition.Text1.8" | translate}}<br>
                    <br> {{"Term_Condition.Text1.9" | translate}}<br>
                    <br> {{"Term_Condition.Text1.10" | translate}}<br>
                    <br> {{"Term_Condition.Text1.11" | translate}}<br>
                    <br> {{"Term_Condition.Text1.12" | translate}}<br>
                    <br> {{"Term_Condition.Text1.13" | translate}}<br>
                    <br> {{"Term_Condition.Text1.14" | translate}}<br>
                    <br> {{"Term_Condition.Text1.15" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        {{"Term_Condition.PART2" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text2.1" | translate}}<br>
                    <br> {{"Term_Condition.Text2.2" | translate}}<br>
                    <br> {{"Term_Condition.Text2.3" | translate}}<br>
                    <br> {{"Term_Condition.Text2.4" | translate}}<br>
                    <br> {{"Term_Condition.Text2.5" | translate}}<br>
                    <br> {{"Term_Condition.Text2.6" | translate}}<br>
                    <br> {{"Term_Condition.Text2.7" | translate}}<br>
                    <br> {{"Term_Condition.Text2.8" | translate}}<br>
                    <br> {{"Term_Condition.Text2.9" | translate}}<br>
                    <br> {{"Term_Condition.Text2.10" | translate}}<br>
                    <br> {{"Term_Condition.Text2.11" | translate}}<br>
                    <br> {{"Term_Condition.Text2.12" | translate}}<br>
                    <br> {{"Term_Condition.Text2.13" | translate}}<br>
                    <br> {{"Term_Condition.Text2.14" | translate}}<br>
                    <br> {{"Term_Condition.Text2.15" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingThree" role="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        {{"Term_Condition.PART3" | translate}}
                        <!-- General financial and booking conditions -->
                    </a>
                </h2>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text3.1" | translate}}<br>
                    <br> {{"Term_Condition.Text3.2" | translate}}<br>
                    <br> {{"Term_Condition.Text3.3" | translate}}<br>
                    <br> {{"Term_Condition.Text3.4" | translate}}<br>
                    <br> {{"Term_Condition.Text3.5" | translate}}<br>
                    <br> {{"Term_Condition.Text3.6" | translate}}<br>
                    <br> {{"Term_Condition.Text3.7" | translate}}<br>
                    <br> {{"Term_Condition.Text3.8" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingFour" role="button" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        {{"Term_Condition.PART4" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text4.1" | translate}}<br>
                    <br> {{"Term_Condition.Text4.2" | translate}}<br>
                    <br> {{"Term_Condition.Text4.3" | translate}}<br>
                    <br> {{"Term_Condition.Text4.4" | translate}}<br>
                    <br> {{"Term_Condition.Text4.5" | translate}}<br>
                    <br> {{"Term_Condition.Text4.6" | translate}}<br>
                    <br> {{"Term_Condition.Text4.7" | translate}}<br>
                    <br> {{"Term_Condition.Text4.8" | translate}}<br>
                    <br> {{"Term_Condition.Text4.9" | translate}}<br>
                    <br> {{"Term_Condition.Text4.10" | translate}}<br>
                    <br> {{"Term_Condition.Text4.11" | translate}}<br>
                    <br> {{"Term_Condition.Text4.12" | translate}}<br>
                    <br> {{"Term_Condition.Text4.13" | translate}}<br>
                    <br> {{"Term_Condition.Text4.14" | translate}}<br>
                    <br> {{"Term_Condition.Text4.15" | translate}}<br>
                    <br> {{"Term_Condition.Text4.16" | translate}}<br>
                    <br> {{"Term_Condition.Text4.17" | translate}}<br>
                    <br> {{"Term_Condition.Text4.18" | translate}}<br>
                    <br> {{"Term_Condition.Text4.19" | translate}}<br>
                    <br> {{"Term_Condition.Text4.20" | translate}}<br>
                    <br> {{"Term_Condition.Text4.21" | translate}}<br>
                    <br> {{"Term_Condition.Text4.22" | translate}}<br>
                    <br> {{"Term_Condition.Text4.24" | translate}}<br>
                    <br> {{"Term_Condition.Text4.25" | translate}}<br>
                    <br> {{"Term_Condition.Text4.26" | translate}}<br>
                    <br> {{"Term_Condition.Text4.27" | translate}}<br>
                    <br> {{"Term_Condition.Text4.28" | translate}}<br>
                    <br> {{"Term_Condition.Text4.29" | translate}}<br>
                    <br> {{"Term_Condition.Text4.30" | translate}}<br>
                    <br> {{"Term_Condition.Text4.31" | translate}}<br>
                    <br> {{"Term_Condition.Text4.32" | translate}}<br>
                    <br> {{"Term_Condition.Text4.33" | translate}}<br>
                    <br> {{"Term_Condition.Text4.34" | translate}}<br>
                    <br> {{"Term_Condition.Text4.35" | translate}}<br>
                    <br> {{"Term_Condition.Text4.36" | translate}}<br>
                    <br> {{"Term_Condition.Text4.37" | translate}}<br>
                    <br> {{"Term_Condition.Text4.38" | translate}}<br>
                    <br> {{"Term_Condition.Text4.39" | translate}}<br>
                    <br> {{"Term_Condition.Text4.40" | translate}}<br>
                    <br> {{"Term_Condition.Text4.41" | translate}}<br>
                    <br> {{"Term_Condition.Text4.42" | translate}}<br>
                    <br> {{"Term_Condition.Text4.43" | translate}}<br>
                    <br> {{"Term_Condition.Text4.44" | translate}}<br>
                    <br> {{"Term_Condition.Text4.45" | translate}}<br>
                    <br> {{"Term_Condition.Text4.46" | translate}}<br>
                    <br> {{"Term_Condition.Text4.47" | translate}}<br>
                    <br> {{"Term_Condition.Text4.48" | translate}}<br>
                    <br> {{"Term_Condition.Text4.49" | translate}}<br>
                    <br> {{"Term_Condition.Text4.50" | translate}}<br>
                    <br> {{"Term_Condition.Text4.51" | translate}}<br>
                    <br> {{"Term_Condition.Text4.52" | translate}}<br>
                    <br> {{"Term_Condition.Text4.53" | translate}}<br>
                    <br> {{"Term_Condition.Text4.54" | translate}}<br>
                    <br> {{"Term_Condition.Text4.55" | translate}}<br>
                    <br> {{"Term_Condition.Text4.56" | translate}}<br>
                    <br> {{"Term_Condition.Text4.57" | translate}}<br>
                    <br> {{"Term_Condition.Text4.58" | translate}}<br>
                    <br> {{"Term_Condition.Text4.59" | translate}}<br>
                    <br> {{"Term_Condition.Text4.60" | translate}}<br>
                    <br> {{"Term_Condition.Text4.61" | translate}}<br>
                    <br> {{"Term_Condition.Text4.62" | translate}}<br>
                    <br> {{"Term_Condition.Text4.63" | translate}}<br>
                    <br> {{"Term_Condition.Text4.64" | translate}}<br>
                    <br> {{"Term_Condition.Text4.65" | translate}}<br>
                    <br> {{"Term_Condition.Text4.66" | translate}}<br>
                    <br> {{"Term_Condition.Text4.67" | translate}}<br>
                    <br> {{"Term_Condition.Text4.68" | translate}}<br>
                    <br> {{"Term_Condition.Text4.69" | translate}}<br>
                    <br> {{"Term_Condition.Text4.70" | translate}}<br>
                    <br> {{"Term_Condition.Text4.71" | translate}}<br>
                    <br> {{"Term_Condition.Text4.72" | translate}}<br>
                    <br> {{"Term_Condition.Text4.73" | translate}}<br>
                    <br> {{"Term_Condition.Text4.74" | translate}}<br>
                    <br> {{"Term_Condition.Text4.75" | translate}}<br>
                    <br> {{"Term_Condition.Text4.76" | translate}}<br>
                    <br> {{"Term_Condition.Text4.77" | translate}}<br>
                    <br> {{"Term_Condition.Text4.78" | translate}}<br>
                    <br> {{"Term_Condition.Text4.79" | translate}}<br>
                    <br> {{"Term_Condition.Text4.80" | translate}}<br>
                    <br> {{"Term_Condition.Text4.81" | translate}}<br>
                    <br> {{"Term_Condition.Text4.82" | translate}}<br>
                    <br> {{"Term_Condition.Text4.83" | translate}}<br>
                    <br> {{"Term_Condition.Text4.84" | translate}}<br>
                    <br> {{"Term_Condition.Text4.85" | translate}}<br>
                    <br> {{"Term_Condition.Text4.86" | translate}}<br>
                    <br> {{"Term_Condition.Text4.87" | translate}}<br>
                    <br> {{"Term_Condition.Text4.89" | translate}}<br>
                    <br> {{"Term_Condition.Text4.90" | translate}}<br>
                    <br> {{"Term_Condition.Text4.91" | translate}}<br>
                    <br> {{"Term_Condition.Text4.92" | translate}}<br>
                    <br> {{"Term_Condition.Text4.93" | translate}}<br>
                    <br> {{"Term_Condition.Text4.94" | translate}}<br>
                    <br> {{"Term_Condition.Text4.95" | translate}}<br>
                    <br> {{"Term_Condition.Text4.96" | translate}}<br>
                    <br> {{"Term_Condition.Text4.97" | translate}}<br>
                    <br> {{"Term_Condition.Text4.98" | translate}}<br>
                    <br> {{"Term_Condition.Text4.99" | translate}}<br>
                    <br> {{"Term_Condition.Text4.100" | translate}}<br>
                    <br> {{"Term_Condition.Text4.102" | translate}}<br>
                    <br> {{"Term_Condition.Text4.103" | translate}}<br>
                    <br> {{"Term_Condition.Text4.104" | translate}}<br>
                    <br> {{"Term_Condition.Text4.105" | translate}}<br>
                    <br> {{"Term_Condition.Text4.106" | translate}}<br>
                    <br> {{"Term_Condition.Text4.107" | translate}}<br>
                    <br> {{"Term_Condition.Text4.108" | translate}}<br>
                    <br> {{"Term_Condition.Text4.109" | translate}}<br>
                    <br> {{"Term_Condition.Text4.110" | translate}}<br>
                    <br> {{"Term_Condition.Text4.111" | translate}}<br>
                    <br> {{"Term_Condition.Text4.112" | translate}}<br>
                    <br> {{"Term_Condition.Text4.113" | translate}}<br>
                    <br> {{"Term_Condition.Text4.114" | translate}}<br>
                    <br> {{"Term_Condition.Text4.115" | translate}}<br>
                    <br> {{"Term_Condition.Text4.116" | translate}}<br>
                    <br> {{"Term_Condition.Text4.117" | translate}}<br>
                    <br> {{"Term_Condition.Text4.118" | translate}}<br>
                    <br> {{"Term_Condition.Text4.119" | translate}}<br>
                    <br> {{"Term_Condition.Text4.120" | translate}}<br>
                    <br> {{"Term_Condition.Text4.121" | translate}}<br>
                    <br> {{"Term_Condition.Text4.122" | translate}}<br>
                    <br> {{"Term_Condition.Text4.123" | translate}}<br>
                    <br> {{"Term_Condition.Text4.124" | translate}}<br>
                    <br> {{"Term_Condition.Text4.126" | translate}}<br>
                    <br> {{"Term_Condition.Text4.127" | translate}}<br>
                    <br> {{"Term_Condition.Text4.128" | translate}}<br>
                    <br> {{"Term_Condition.Text4.129" | translate}}<br>
                    <br> {{"Term_Condition.Text4.130" | translate}}<br>
                    <br> {{"Term_Condition.Text4.131" | translate}}<br>
                    <br> {{"Term_Condition.Text4.132" | translate}}<br>
                    <br> {{"Term_Condition.Text4.133" | translate}}<br>
                    <br> {{"Term_Condition.Text4.134" | translate}}<br>
                    <br> {{"Term_Condition.Text4.135" | translate}}<br>
                    <br> {{"Term_Condition.Text4.136" | translate}}<br>
                    <br> {{"Term_Condition.Text4.137" | translate}}<br>
                    <br> {{"Term_Condition.Text4.138" | translate}}<br>
                    <br> {{"Term_Condition.Text4.139" | translate}}<br>
                    <br> {{"Term_Condition.Text4.140" | translate}}<br>
                    <br> {{"Term_Condition.Text4.141" | translate}}<br>
                    <br> {{"Term_Condition.Text4.142" | translate}}<br>
                    <br> {{"Term_Condition.Text4.143" | translate}}<br>
                    <br> {{"Term_Condition.Text4.144" | translate}}<br>
                    <br> {{"Term_Condition.Text4.145" | translate}}<br>
                    <br> {{"Term_Condition.Text4.147" | translate}}<br>
                    <br> {{"Term_Condition.Text4.148" | translate}}<br>
                    <br> {{"Term_Condition.Text4.149" | translate}}<br>
                    <br> {{"Term_Condition.Text4.150" | translate}}<br>
                    <br> {{"Term_Condition.Text4.151" | translate}}<br>
                    <br> {{"Term_Condition.Text4.152" | translate}}<br>
                    <br> {{"Term_Condition.Text4.153" | translate}}<br>
                    <br> {{"Term_Condition.Text4.154" | translate}}<br>
                    <br> {{"Term_Condition.Text4.155" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingFive" role="button" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapsefive">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapsefive">
                        {{"Term_Condition.PART5" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text5.1" | translate}}<br>
                    <br> {{"Term_Condition.Text5.2" | translate}}<br>
                    <br> {{"Term_Condition.Text5.3" | translate}}<br>
                    <br> {{"Term_Condition.Text5.4" | translate}}<br>
                    <br> {{"Term_Condition.Text5.5" | translate}}<br>
                    <br> {{"Term_Condition.Text5.6" | translate}}<br>
                    <br> {{"Term_Condition.Text5.7" | translate}}<br>
                    <br> {{"Term_Condition.Text5.8" | translate}}<br>
                    <br> {{"Term_Condition.Text5.9" | translate}}<br>
                    <br> {{"Term_Condition.Text5.10" | translate}}<br>
                    <br> {{"Term_Condition.Text5.11" | translate}}<br>
                    <br> {{"Term_Condition.Text5.12" | translate}}<br>
                    <br> {{"Term_Condition.Text5.13" | translate}}<br>
                    <br> {{"Term_Condition.Text5.14" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingSix" role="button" data-toggle="collapse" data-target="#collapsesix"
                aria-expanded="false" aria-controls="collapsesix">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapsesix"
                        aria-expanded="false" aria-controls="collapsesix">
                        {{"Term_Condition.PART6" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapsesix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text6.1" | translate}}<br>
                    <br> {{"Term_Condition.Text6.2" | translate}}<br>
                    <br> {{"Term_Condition.Text6.3" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingSeven" role="button" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="false" aria-controls="collapseSeven">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseSeven"
                        aria-expanded="false" aria-controls="collapseSeven">
                        {{"Term_Condition.PART7" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text7.1" | translate}}<br>
                    <br> {{"Term_Condition.Text7.2" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingEight" role="button" data-toggle="collapse" data-target="#collapseEight"
                aria-expanded="false" aria-controls="collapseEight">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseEight"
                        aria-expanded="false" aria-controls="collapseEight">
                        {{"Term_Condition.PART8" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text8.1" | translate}}<br>
                    <br> {{"Term_Condition.Text8.2" | translate}}<br>
                    <br> {{"Term_Condition.Text8.3" | translate}}<br>
                    <br> {{"Term_Condition.Text8.4" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingNine" role="button" data-toggle="collapse" data-target="#collapseNine"
                aria-expanded="false" aria-controls="collapseNine">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseNine"
                        aria-expanded="false" aria-controls="collapseNine">
                        {{"Term_Condition.PART9" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text9.1" | translate}}<br>
                    <br> {{"Term_Condition.Text9.2" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingTen" role="button" data-toggle="collapse" data-target="#collapseten"
                aria-expanded="false" aria-controls="collapseten">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseten"
                        aria-expanded="false" aria-controls="collapseten">
                        {{"Term_Condition.PART10" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseten" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text10.1" | translate}}<br>
                    <br> {{"Term_Condition.Text10.2" | translate}}<br>
                    <br> {{"Term_Condition.Text10.3" | translate}}<br>
                    <br> {{"Term_Condition.Text10.4" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingEleven" role="button" data-toggle="collapse" data-target="#collapseEleven"
                aria-expanded="false" aria-controls="collapseEleven">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseEleven"
                        aria-expanded="false" aria-controls="collapseEleven">
                        {{"Term_Condition.PART11" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text11.1" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingTwelve" role="button" data-toggle="collapse" data-target="#collapseTwelve"
                aria-expanded="false" aria-controls="collapseTwelve">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseTwelve"
                        aria-expanded="false" aria-controls="collapseTwelve">
                        {{"Term_Condition.PART12" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text12.1" | translate}}<br>
                    <br> {{"Term_Condition.Text12.2" | translate}}<br>
                    <br> {{"Term_Condition.Text12.3" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingThirteen" role="button" data-toggle="collapse"
                data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapseThirteen"
                        aria-expanded="false" aria-controls="collapseThirteen">
                        {{"Term_Condition.PART13" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"
                data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text13.1" | translate}}<br>
                    <br> {{"Term_Condition.Text13.2" | translate}}<br>
                    <br> {{"Term_Condition.Text13.3" | translate}}<br>
                    <br> {{"Term_Condition.Text13.4" | translate}}<br>
                    <br> {{"Term_Condition.Text13.5" | translate}}<br>
                    <br> {{"Term_Condition.Text13.6" | translate}}<br>
                    <br> {{"Term_Condition.Text13.7" | translate}}<br>
                    <br> {{"Term_Condition.Text13.8" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="headingfourteen" role="button" data-toggle="collapse"
                data-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapsefourteen"
                        aria-expanded="false" aria-controls="collapsefourteen">
                        {{"Term_Condition.PART14" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapsefourteen" class="collapse" aria-labelledby="headingfourteen"
                data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text14.1" | translate}}<br>
                    <br> {{"Term_Condition.Text14.2" | translate}}<br>
                    <br> {{"Term_Condition.Text14.3" | translate}}<br>
                    <br> {{"Term_Condition.Text14.4" | translate}}<br>
                    <br> {{"Term_Condition.Text14.5" | translate}}<br>
                    <br> {{"Term_Condition.Text14.6" | translate}}<br>
                    <br> {{"Term_Condition.Text14.7" | translate}}<br>
                    <br> {{"Term_Condition.Text14.8" | translate}}<br>
                    <br> {{"Term_Condition.Text14.9" | translate}}<br>
                    <br> {{"Term_Condition.Text14.10" | translate}}<br>
                    <br> {{"Term_Condition.Text14.11" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading15" role="button" data-toggle="collapse" data-target="#collapse15"
                aria-expanded="false" aria-controls="collapse15">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse15"
                        aria-expanded="false" aria-controls="collapse15">
                        {{"Term_Condition.PART15" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text15.1" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading16" role="button" data-toggle="collapse" data-target="#collapse16"
                aria-expanded="false" aria-controls="collapse16">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse16"
                        aria-expanded="false" aria-controls="collapse16">
                        {{"Term_Condition.PART16" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text16.1" | translate}}<br>
                    <br> {{"Term_Condition.Text16.2" | translate}}<br>
                    <br> {{"Term_Condition.Text16.3" | translate}}<br>
                    <br> {{"Term_Condition.Text16.4" | translate}}<br>
                    <br> {{"Term_Condition.Text16.5" | translate}}<br>
                    <br> {{"Term_Condition.Text16.6" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading17" role="button" data-toggle="collapse" data-target="#collapse17"
                aria-expanded="false" aria-controls="collapse17">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse17"
                        aria-expanded="false" aria-controls="collapse17">
                        {{"Term_Condition.PART17" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text17.1" | translate}}<br>
                    <br> {{"Term_Condition.Text17.2" | translate}}<br>
                    <br> {{"Term_Condition.Text17.3" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading18" role="button" data-toggle="collapse" data-target="#collapse18"
                aria-expanded="false" aria-controls="collapse18">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse18"
                        aria-expanded="false" aria-controls="collapse18">
                        {{"Term_Condition.PART18" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text18.1" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading19" role="button" data-toggle="collapse" data-target="#collapse19"
                aria-expanded="false" aria-controls="collapse19">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse19"
                        aria-expanded="false" aria-controls="collapse19">
                        {{"Term_Condition.PART19" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text19.1" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading20" role="button" data-toggle="collapse" data-target="#collapse20"
                aria-expanded="false" aria-controls="collapse20">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse20"
                        aria-expanded="false" aria-controls="collapse20">
                        {{"Term_Condition.PART20" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text20.1" | translate}}<br>
                    <br> {{"Term_Condition.Text20.2" | translate}}<br>
                    <br> {{"Term_Condition.Text20.3" | translate}}<br>
                    <br> {{"Term_Condition.Text20.4" | translate}}<br>
                    <br> {{"Term_Condition.Text20.5" | translate}}<br>
                    <br> {{"Term_Condition.Text20.6" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading21" role="button" data-toggle="collapse" data-target="#collapse21"
                aria-expanded="false" aria-controls="collapse21">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse21"
                        aria-expanded="false" aria-controls="collapse21">
                        {{"Term_Condition.PART21" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text21.1" | translate}}<br>
                    <br> {{"Term_Condition.Text21.2" | translate}}<br>
                    <br> {{"Term_Condition.Text21.3" | translate}}<br>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-header" id="heading22" role="button" data-toggle="collapse" data-target="#collapse22"
                aria-expanded="false" aria-controls="collapse22">
                <h2 class="mb-0 booking-text panel-title">
                    <a class="collapsed btn-link" role="button" data-toggle="collapse" data-target="#collapse22"
                        aria-expanded="false" aria-controls="collapse22">
                        {{"Term_Condition.PART22" | translate}}
                    </a>
                </h2>
            </a>
            <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordionExample">
                <div class="card-body">
                    {{"Term_Condition.Text22.1" | translate}}<br>
                    <br> {{"Term_Condition.Text22.2" | translate}}<br>
                    <br> {{"Term_Condition.Text22.3" | translate}}<br>
                    <br> {{"Term_Condition.Text22.4" | translate}}<br>
                    <br> {{"Term_Condition.Text22.5" | translate}}<br>
                    <br> {{"Term_Condition.Text22.6" | translate}}<br>
                    <br> {{"Term_Condition.Text22.7" | translate}}<br>
                    <br> {{"Term_Condition.Text22.8" | translate}}<br>
                    <br> {{"Term_Condition.Text22.9" | translate}}<br>
                    <br> {{"Term_Condition.Text22.10" | translate}}<br>
                </div>
            </div>
        </div>

    </div>
</div>
<!--accordian ends here-->
<div class="container" style="margin-left: 52px;
color: #969696;width: 90%;">
    <p>{{"Term_Condition.Annexe" | translate}}</p>
    <p>{{"Term_Condition.Adress" | translate}}</p>
    <p>{{"Term_Condition.TextAnnexe" | translate}}</p>
    <p>{{"Term_Condition.Precise" | translate}}</p>
    <p>{{"Term_Condition.DateSub" | translate}}</p>
    <p>{{"Term_Condition.SubName" | translate}}</p>
    <p>{{"Term_Condition.SubAdress" | translate}}</p>
    <p>{{"Term_Condition.SignSub" | translate}}</p>
    <p>{{"Term_Condition.Date" | translate}}</p>
    <p>{{"Term_Condition.UselessCut" | translate}}</p>
</div>

<!-- askQuestion-wrapper starts here -->
<div class="askQuestion-wrapper">
    <div class="container ask-wrapper">
        <div class="question-firm">
            <h1 class="touch-text text-white AvenirLTStd-Regular">
                {{"label.questions" | translate}} ? </h1>
            <button class="touch-btn AvenirLTStd-Regular text-center" [routerLink]="['/contact-us']">
                {{"label.button" | translate}}
            </button>
        </div>
    </div>
</div>
<!-- askQuestion-wrapper ends here -->
<app-new-footer></app-new-footer>