<!-- <div>
    <app-header></app-header>
</div> -->
<!--main-content-wrapper starts here-->
<div class="main-content-wrapper">
    <div class="container container-main-wrapper">
        <div class="text-center banner-text" style="margin-top: 154px;">
            <h4 class="us-firm-text">{{"label.AboutUsTitle"|translate}}</h4>
            <h4 class="us-firm-text">{{"label.AboutUsTitle2"|translate}}</h4>
        </div>
    </div>
</div>
<div class="dignisum-wrapper">
    <div class="d-flex align-items-center dignisum-firm">
        <div class="inner-dignisum-wrapper">
            <div class="inner-about-text">
                <img src="assets/images/about2.jpg" alt="about-inner" class="img-fluid">
            </div>
        </div>
        <div class="inner-about-btn mb-5">
            <button type="button" class="us-inner-text">{{"label.aboutpoint1"|translate}}</button>
            <h3 class="blandit-wrapper">{{"label.points2"|translate}}</h3>
            <p class="inner-blandit-wrapper">{{"label.paragraph3"|translate}}</p>
        </div>
    </div>
</div>
<div class="homes-bg-wrapper">
    <div class="text-center d-flex justify-content-center h-100 homes-firm">
        <div class="sold-firm">
            <h1 class="homes-text">{{"label.middletextTitle1"|translate}}</h1>
            <div class="sale-wrapper-text">{{"label.middleText"|translate}}</div>
            <div class="sale-wrapper-text">{{"label.middleTextp2"|translate}}</div>
            <div class="sale-wrapper-text">{{"label.middleTextp3"|translate}}</div>
            <div class="sale-wrapper-text">{{"label.middleTextp4"|translate}}</div>
        </div>
        <div class="sold-firm">
            <h1 class="homes-text">{{"label.middletextTitle2"|translate}}</h1>
            <p class="sale-wrapper-text">{{"label.middleText2"|translate}}</p>
            <p class="sale-wrapper-text">{{"label.middleText2p2"|translate}}</p>
            <p class="sale-wrapper-text">{{"label.middleText2p3"|translate}}</p>
            <p class="sale-wrapper-text">{{"label.middleText2p4"|translate}}</p>


        </div>

    </div>
</div>
<div class="qui-wrapper">
    <div class="d-flex align-items-center dignisum-firm">
        <div class="inner-about-btn mb-5">
            <button type="button" class="us-inner-text">{{"label.whyUs"|translate}}</button>
            <h3 class="blandit-wrapper">{{"label.heading7"|translate}}</h3>
            <p class="inner-blandit-wrapper">{{"label.paragraph2"|translate}}
            </p>

        </div>
        <div class="inner-dignisum-wrapper">
            <div class="inner-about-text">
                <img src="assets/images/about3.jpg" alt="about-inner" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- askQuestion-wrapper starts here -->
<div class="askQuestion-wrapper">
    <div class="container ask-wrapper">
        <div class="question-firm">
            <h1 class="touch-text text-white AvenirLTStd-Regular">
                {{"label.questions"|translate}}
            </h1>
            <button class="touch-btn AvenirLTStd-Regular text-center" [routerLink]="['/contact-us']">
                {{"label.button"|translate}}
            </button>
        </div>
    </div>
</div>
<!-- askQuestion-wrapper ends here -->

<!--footer starts here-->
<app-new-footer></app-new-footer>
<!--footer ends here-->
<div id="destination"></div>
