<!-- <div>
    <app-general-header></app-general-header>
</div> -->
<div *ngIf="showSpinner" class="overlay">
    <div class="center">
        <mat-progress-spinner diameter=70 mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>
<div class="annonces-bg-wrapper">
    <div class="d-flex align-items-center summary-bg-firm">
        <p class="perform-mes-wrapper listingTabActive" (click)="navigateToManagement()">{{"label.annonces"|translate}}
        </p>
        <p class="perform-mes-wrapper" (click)="navigateToPerformance()">{{"label.performances"|translate}}</p>
        <p class="perform-mes-wrapper" (click)="navigateToevent()">{{"label.events"|translate}}</p>
        <!-- <p class="perform-mes-wrapper">{{"label.billing"|translate}}</p> -->
    </div>
    <div class="d-flex align-items-center Gerer-firm">

        <div class="d-flex btn-create-wrapper">
            <button class="nav-CreatListning-btn d-flex mr-3" (click)="askForMandate()" [disabled]="disableMandateBtn"
                *ngIf="loggedUserAccount == 'professional'">
                {{"label.mandate" | translate}}
            </button>
            <div class="position-relative required-input">
                <input type="text" placeholder="{{'label.Search' | translate}}" class="required-form-input ml-2"
                    [(ngModel)]="search" name="search" (change)="searchListing()" />
                <span class="material-icons required-arrow">search</span>
            </div>
            <div class="position-relative required-input-firm d-flex">
                <span class="material-icons filter-icon">filter_alt</span>
                <input type="text" placeholder="Filter" class="required-form-input ml-2" required minlength="4"
                    maxlength="8" size="10" />
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center main-select-firm">
        <div class="d-flex all-wrapper">
            
            <div class="d-flex delete-wrapper">
                <span class="material-icons delete-icon1">delete_outline</span>
                <p class="delete-all">{{"label.delete"|translate}}</p>
            </div>
        </div>
    </div>
    <div class="container residance-container">
        <div class="residance-row" *ngFor="let list of listings;index as i">
            <div class="residancebox-firm AvenirLTStd-Regular">
                <div class="residance-wrapper">
                    <div class="residance-home-img">
                        <div class=" position-relative">
                            <i *ngIf="list.activeindex < list.houseImg.length-1" (click)="getImg(list,i,'next')"
                                class="fa fa-chevron-right" aria-hidden="true"></i>
                            <i *ngIf="list.activeindex > 0" (click)="getImg(list,i,'prev')" class="fa fa-chevron-left"
                                aria-hidden="true"></i>
                            <div>
                                <img *ngIf="!list.acttiveImg.includes('mp4')" class="list-img-wrapper"
                                    style="height: 142px; width: 100%; object-fit: fill;" [src]="list.acttiveImg"
                                    (error)="onImgError($event)">
                                <video *ngIf="list.acttiveImg.includes('mp4') && loader[i]"
                                    style="height: 142px; width: 265px;background: slategray;"
                                    class="video-fluid z-depth-1" autoplay loop muted>
                                    <source [src]="list.acttiveImg" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute residance-square-img">
                        <input type="checkbox" class="form-check-input w-100 h-100" id="exampleCheck1" />
                    </div>
                    <div class="d-flex position-absolute media-residance">
                        <span class="material-icons text-white" style="font-size: 18px;"> perm_media </span>
                        <p class="text-white ml-1">{{list.houseImg.length}}</p>
                    </div>
                    <div class="d-flex align-items-center AvenirLTStd-Regular justify-content-between">
                        <p class="cascade-inner AvenirLTStd-Regular">
                            <!-- Cascade Residence -->
                            {{list.listing_title}}
                        </p>

                        <p class="cascade-text-inner">{{list.inc_fees}}€</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between AvenirLTStd-Regular">
                        <p class="creation-text AvenirLTStd-Regular">
                            {{"label.CreationDate" | translate}} {{list.created_at | date: 'dd/MM/yyyy'}}
                        </p>
                        <div>
                            <label class="switch switch-left-right">
                                <input class="switch-input" type="checkbox" [(ngModel)]="list.add_publish"
                                    name="publish" (change)="publishAdd(list,list.add_publish)" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center AvenirLTStd-Regular justify-content-between">
                        <p class="creation-text AvenirLTStd-Regular">{{"label.Surface" | translate}} {{list.surface}}m2
                        </p>
                        <p class="creation-text-inner">CP/DP: {{list.code_postal}}</p>
                    </div>
                    <p class="villa-firm">{{"label.city" | translate}}: {{list.commune}}</p>
                    <p class="villa-firm">{{"label.Type" | translate}} {{list.home_type | translate}}</p>
                    <div class="slots">
                        <div class="" data-toggle="modal" data-target="#slotsMyModal" (click)="openSlotsCalendar(list)">
                            <span class=""> {{"label.Slots" | translate}} </span>
                        </div>
                    </div>
                    <div class="create-firm-text d-flex">

                        <!-- Event -->
                        <div class="border-firm-inner">
                            <div class="tooltip1 right-side position-relative" data-toggle="modal"
                                data-target="#myModal" (click)="openCalendar(list,i)">
                                <span class="material-icons"  > event </span>
                                <span class="tooltiptext">{{"Hover.Calendar" | translate}}</span>
                            </div>
                        </div>

                        <!-- Delete -->
                        <div class="border-firm-inner">
                            <div class="tooltip1 right-side position-relative"
                                [class.disabled-contenct]="deleteLoader[i]" (click)="deleteListing(list,i)">
                                <span *ngIf="!deleteLoader[i]" class="material-icons"> delete_outline </span>
                                <span class="tooltiptext">{{"Hover.Delete" | translate}}</span>
                                <mat-spinner *ngIf="deleteLoader[i]" [diameter]="25"></mat-spinner>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="border-firm-inner" data-toggle="modal" data-target="#exampleModalCenter1">
                            <div class="tooltip1 right-side" [class.disabled-contenct]="documentLoader[i]"
                                (click)="openDocument(list)">
                                <span class="material-icons"> description </span>
                                <span class="tooltiptext">{{"Hover.Documents" | translate}}</span>

                            </div>
                        </div>

                        <!-- Edit -->
                        <div class="">
                            <div class="tooltip1 right-side" (click)="updateCreateListing(list)">
                                <span class=" material-icons"> edit</span>
                                <span class="tooltiptext">{{"Hover.Edit" | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- calendar -->
                <div class="modal fade cstm-calender-modal" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content model-content-residence">
                            <div class="modal-body residence-modal-body position-relative" style="height: auto">
                                <div *ngIf="calendarSpinner" class="overlay position-absolute" style="height: 100%;">
                                    <div class="center">
                                        <mat-progress-spinner diameter=70 mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>
                                </div>
                                <div class="modal-img-residance d-flex align-items-center ml-5"
                                    *ngFor="let list of listingDetails">
                                    <div class="modal-image-firm">
                                        <img src="{{list?.houseImg[0]}}" alt="house2"
                                            class="img-fluid modal-mainimg-firm" />
                                    </div>
                                    <div class="text-residence AvenirLTStd-Regular" style="margin-top: -62px;">
                                        <h4 class="head-firm AvenirLTStd-Regular align-items-left ml-3"
                                            style="text-align: left;">
                                            <!-- Cascade Residence -->
                                            {{list.listing_title}}
                                        </h4>
                                        <p class="inner-haed-firm AvenirLTStd-Regular">
                                            {{list.inc_fees}}€
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center week-firm">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                                (viewDateChange)="closeOpenMonthViewDay()" class="monthButton">
                                                <i class="fa fa-angle-left modal-arrow mt-1" aria-hidden="true"></i>
                                            </button>
                                            <h4 class="nov-firm">
                                                {{ viewDate | calendarDate: view + "ViewTitle":lang }}
                                            </h4>
                                            <button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                                (viewDateChange)="closeOpenMonthViewDay()" class="monthButton">
                                                <i class="fa fa-angle-right modal-arrow mt-1" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="dropdown dropdown-modal position-relative"
                                            style="margin-left: 40px">
                                            <select class="selectMonth" [(ngModel)]="type" name="type"
                                                (change)="setViewType(CalendarView.Month)">
                                                <option value="Month">{{"label.month_dropdwon" | translate}}</option>
                                                <option value="Week">{{"label.week_dropdown" | translate}}</option>
                                            </select>
                                            <i class="fa fa-caret-down downIcon" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="h-auto">
                                    <div [ngSwitch]="view">
                                        <mwl-calendar-month-view [locale]="lang" *ngSwitchCase="CalendarView.Month"
                                            [cellTemplate]="customCellTemplate" [viewDate]="viewDate" [events]="events"
                                            [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                                        </mwl-calendar-month-view>
                                        <mwl-calendar-week-view [locale]="lang" *ngSwitchCase="CalendarView.Week"
                                            [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                                            (eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="8"
                                            [dayEndHour]="20" [hourSegments]="1" [hourSegmentHeight]="45"
                                            [cellTemplate]="customCellTemplate" [hourSegmentTemplate]="weekView"
                                            [eventTemplate]="eventTemplate">
                                        </mwl-calendar-week-view>
                                        <mwl-calendar-day-view [locale]="lang" *ngSwitchCase="CalendarView.Day"
                                            [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                                        </mwl-calendar-day-view>
                                    </div>
                                </div>
                                <div class="ml-5">
                                    <h4 class="viewersDetails">{{"label.viewer_details" | translate}}</h4>
                                    <div class="d-flex">
                                        <div class="referenceColor-avilable"></div>
                                        <h4>{{"label.Available" | translate}}</h4>
                                        <div class="referenceColor-rented ml-3"></div>
                                        <h4>{{"label.Rented" | translate}}</h4>
                                        <div class="referenceColor-visit ml-3"></div>
                                        <h4>{{"label.Visited" | translate}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- calendar end -->
            </div>
        </div>

        <div *ngIf="resultResponseTotal == 0" class="noDataFound">
            No listings found
        </div>
    </div>
    <div class="grid-page-firm" *ngIf="resultResponseTotal > 0">
        <button (click)="pagination('prev')" class="btn-page-text">   <span class="icon-left" >
            <mat-icon class="keyboard_arrow_left" >keyboard_arrow_left</mat-icon><mat-icon class="keyboard_arrow_leftsec" >keyboard_arrow_left</mat-icon>
        </span> {{"label.previous" | translate}}</button>
        <button (click)="pagination('first')" class="btn-page-text">{{"label.first" | translate}}</button>
        <button (click)="pagination('last')" class="btn-page-text">{{"label.last" | translate}}</button>
        
        <button (click)="pagination('next')" class="btn-page-text">{{"label.next" | translate}} <span class="icon-left" >  <mat-icon class="keyboard_arrow_right" >keyboard_arrow_right</mat-icon><mat-icon class="keyboard_arrow_rightsec" >keyboard_arrow_right</mat-icon></span>
        
        </button>
    </div>
</div>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}{{ events[0]?.title }}</span>
        <span class="cal-day-number">{{
            day.date | calendarDate: "monthViewDayNumber":locale
            }}</span>
    </div>
    <small style="margin: 5px">
        <div *ngFor="let item of day.events" class="d-flex">
            <p class="colorDot" *ngIf="item.type == 'available'"></p>
            <p class="colorDot" *ngIf="item.type == 'visit'" style="background-color: #1f8ed8"></p>
            <p class="colorDot" *ngIf="item.type == 'rented'" style="background-color: #844ed6"></p>
            <p class="dateInfo">{{ item.title }}</p>
        </div>
    </small>
</ng-template>

<!-- Modal upload a file-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <div *ngIf="uploadSpinner" class="overlay position-absolute" style="height: 100%;">
                <div class="center">
                    <mat-progress-spinner diameter=70 mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </div>
            <div class="modal-header border-0">
                <button type="button" class="close cross-btn-wrapper" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="residence-modal-firm" *ngFor="let list of listingDetailsForDoc">
                    <div class="modal-img-residance d-flex align-items-center">
                        <div class="modal-image-firm">
                            <img src="{{list?.houseImg[0]}}" alt="house2" class="img-fluid modal-mainimg-firm" />
                        </div>
                        <div class="text-residence AvenirLTStd-Regular">
                            <h4 class="head-firm AvenirLTStd-Regular ml-4">
                                <!-- Cascade Residence -->
                                {{list.listing_title}}
                            </h4>
                            <p class="files-firm AvenirLTStd-Regular ml-4">
                                {{uploadedFilesList.length}}/12 {{"label.LM_document_files" | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center downloaded-wrapper mr-3">
                        <div class="d-flex align-items-center ml-2 mt-2">
                            <img src="assets/images/cloud.png" alt="cloud-img" class="img-fluid mb-2" />
                            <div class="image-upload">
                                <label for="file-input">
                                    <span class="upload-firm1 mb-auto">
                                        {{"label.LM_document_upload" | translate}}
                                    </span>
                                </label>
                                <input id="file-input" type="file" accept="*" (change)="uploadFile($event,list)" />
                            </div>
                        </div>
                        <div class="d-flex align-items-center ml-2" (click)="downloadUploadedFile()">
                            <img src="assets/images/uploaded.png" alt="upload-img" class="img-fluid" />
                            <p class="upload-firm1">{{"label.LM_document_download" | translate}}</p>
                        </div>
                        <div class="d-flex align-items-center ml-2" (click)="deleteSelectedFile(file,list)">
                            <img src="assets/images/delete-black-18dp.png" alt="delete-img" class="img-fluid" />
                            <p class="upload-firm1">{{"label.DeletSelected" | translate}} </p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table print-table mt-3">
                            <thead class="print-table-head">
                                <tr>
                                   
                                    <th scope="col">
                                        <img src="assets/images/checkbox-img.png" alt="checkbox"
                                            class="img-fluid check-img ml-4">
                                    </th>
                                    <th scope="col">{{"label.LM_document_fullName" | translate}}</th>
                                    <th scope="col">{{"label.LM_document_print" | translate}}</th>
                                    <th scope="col">{{"label.LM_document_delete" | translate}}</th>
                                    <th scope="col">{{"label.LM_document_size" | translate}}</th>
                                    <th scope="col">{{"label.LM_document_extension" | translate}}</th>
                                    <th scope="col">{{"label.LM_document_date" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of uploadedFilesList; index as i">
                                    <th>
                                        <label class="container one-modal-label mb-3 ml-1">
                                            <input type="checkbox" [(ngModel)]="file.selectedFile" name="selectedFile"
                                                (change)="selectFilesToDelete()"><span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <td class="file-firm">{{file.file_name}}</td>
                                    <td>
                                        <img src="assets/images/print-black.png" alt="print" class="img-fluid" />
                                    </td>
                                    <td>
                                        <img src="assets/images/delete-colorb.png" alt="delete" class="img-fluid"
                                            (click)="deleteFile(file,list)" />
                                    </td>
                                    <td class="file-firm">{{file.file_size}}</td>
                                    <td class="file-firm">{{file.file_ext}}</td>
                                    <td class="file-firm">{{file.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--slots calendar -->
<div class="modal fade cstm-calender-modal" id="slotsMyModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content model-content-residence">
            <div class="modal-body residence-modal-body position-relative" style="height: auto">
                <div *ngIf="calendarSpinner" class="overlay position-absolute" style="height: 100%;">
                    <div class="center">
                        <mat-progress-spinner diameter=70 mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                </div>
                <div class="modal-img-residance d-flex align-items-center ml-5"
                    *ngFor="let list of listingDetailsFromSlot">
                    <div class="modal-image-firm">
                        <img src="{{list?.houseImg[0]}}" alt="house2" class="img-fluid modal-mainimg-firm" />
                    </div>
                    <div class="text-residence AvenirLTStd-Regular" style="margin-top: -62px;">
                        <h4 class="head-firm AvenirLTStd-Regular align-items-left ml-3" style="text-align: left;">
                            <!-- Cascade Residence -->
                            {{list.listing_title}}
                        </h4>
                        <p class="inner-haed-firm AvenirLTStd-Regular">
                            {{list.inc_fees}}€
                        </p>
                    </div>
                    <div class="d-flex align-items-center week-firm">
                        <div class="d-flex align-items-center justify-content-center">
                            <button mwlCalendarPreviousView [view]="slotsView" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()" class="monthButton">
                                <i class="fa fa-angle-left modal-arrow mt-1" aria-hidden="true"></i>
                            </button>
                            <h4 class="nov-firm">
                                {{ viewDate | calendarDate: slotsView + "ViewTitle":lang }}
                            </h4>
                            <button mwlCalendarNextView [view]="slotsView" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()" class="monthButton">
                                <i class="fa fa-angle-right modal-arrow mt-1" aria-hidden="true"></i>
                            </button>
                        </div>
                     
                    </div>
                </div>
                <div class="h-auto">
                    <div [ngSwitch]="slotsView">
                        <mwl-calendar-month-view [locale]="lang" *ngSwitchCase="CalendarView.Month"
                            [viewDate]="viewDate" [events]="slotsEvents" [refresh]="refresh"
                            (dayClicked)="daySlotClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)" [activeDayIsOpen]="activeDayIsOpen"
                            (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                    </div>
                    <!-- add event modal -->
                    <p-dialog header="{{'label.AddEvent' | translate}}" [(visible)]="newEvent"
                        [style]="{width: '50vw'}">
                        <div class="container">
                            <div class="newEvent">
                                <h1 style="color: #969696; text-align: center;">{{"label.AddEventOn" | translate}}
                                    {{selectedDateFromSlot | date:'dd MMM yyyy'}}
                                </h1>
                                <div class="position-relative required-date-firm mb-4" style="margin: auto;">
                                    <input id="openCal" type="text" [min]="minDate" (ngModelChange)="openCal($event)"
                                        [(ngModel)]="addEventEndDate" name="addEventEndDate"
                                        placeholder="{{'label.EndDate' | translate}}" [matDatepicker]="picker1"
                                        class="payment-Inputs" style="border: none;width: 100%; outline: 0;" />
                                    <mat-datepicker-toggle matSuffix [for]="picker1"
                                        class="position-absolute icon-date-firm date-img">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>

                                </div>
                                <div class="d-flex typeCheckbox">
                                    <div class="slot-radio-group">
                                        <!--  -->
                                        <mat-radio-group aria-label="Select an option"
                                            (ngModelChange)="checkRadioVal($event)" [(ngModel)]="eventType"
                                            name="userType" required>
                                            <mat-radio-button value="visit" class="AvenirLTStd-Regular">
                                                <span> {{"label.visitavailability" | translate}}</span>
                                            </mat-radio-button>
                                            <mat-radio-button value="test" class="ml-5 AvenirLTStd-Regular">
                                                {{"label.TestAvailability" | translate}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="d-flex timerSection mb-3" *ngIf="eventType == 'visit'">
                                    <div class="position-relative required-firm ml-3">
                                        <select class="required-date-firm" [(ngModel)]="slotsStartDateTime"
                                            name="slotsStartDateTime">
                                            <option selected="selected" value="" hidden>{{"label.StartTime" |
                                                translate}}</option>
                                            <option value="{{list}}" [disabled]="validateSlots('start', list)"
                                                *ngFor="let list of timeDropdown">{{list}}</option>
                                        </select>
                                        <span><img src="assets/images/time.png" alt="event-black"
                                                class="img-fluid time-img">
                                        </span>
                                       
                                    </div>
                                    <div class="position-relative end-main-firm ml-3">
                                        <select class="required-date-firm" [(ngModel)]="slotEndDateTime"
                                            name="slotEndDateTime">
                                            <option selected="selected" value="" hidden>{{"label.EndTime" | translate}}
                                            </option>
                                            <option value="{{list}}" [disabled]="validateSlots('end', list)"
                                                *ngFor="let list of timeDropdown">{{list}}</option>
                                        </select>
                                        <span><img src="assets/images/time.png" alt="event-black"
                                                class="img-fluid time-img">
                                        </span>
                                     
                                    </div>
                                    <button (click)="addTime(slotsStartDateTime,slotEndDateTime)"
                                        class="ml-3 slot-addbtn pl-3">{{"label.AddSlotButton" | translate}}
                                    </button>
                                </div>
                                <div class="" *ngIf="eventType == 'visit'">
                                    <div *ngFor="let time of slotsSelected;let i = index"
                                        class="d-flex align-items-center justify-content-around mb-3">
                                        <div class="ml-5">
                                            {{time.start}}
                                        </div>
                                        <div class="ml-5">
                                            {{time.end}}
                                        </div>
                                        <button (click)="removeTime(i)" class="slot-removebtn ml-5"><span
                                                class="material-icons mt-1" style="font-size: 18px;">
                                                close
                                            </span></button>
                                    </div>
                                    <div class="notValidated" style="margin-left: 216px;">
                                        <div *ngIf="slotsSelectedLength === 0 && notValidated == true">
                                            No slots added</div>
                                    </div>
                                </div>
                                <div class="add-event-wrapper">
                                    <button (click)="addEvent()" class="add-event-btn">{{"label.AddEventButton" |
                                        translate}}</button>
                                </div>
                                <!-- <button (click)="addEvent()" class="add-event-btn">ADD Event</button> -->
                            </div>
                        </div>
                    </p-dialog>
                    <!-- Edit event -->
                    <p-dialog header="{{'label.Edit_event' | translate}}" [(visible)]="showPopup"
                        [style]="{width: '80vw'}">
                        <div class="container">
                            <form #f="ngForm">
                                <div class="slot-radio-group" style="text-align: center;
                  margin-bottom: 25px;">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="editEventType"
                                        name="editEventType" required>
                                        <mat-radio-button value="visit" class="AvenirLTStd-Regular">
                                            <span>{{"label.visitavailability" | translate}} </span>
                                        </mat-radio-button>
                                        <mat-radio-button value="test" class="ml-5 AvenirLTStd-Regular">
                                            {{"label.TestAvailability" | translate}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                               
                                <div
                                    class="d-flex justify-content-center align-items-center position-relative mb-4 pl-3">
                                    <div style="margin-right: 35px;">
                                        <p class="slote-date">{{"label.StartDate" | translate}}</p>
                                        <div class="position-relative required-date-firm">
                                            <input type="text" [max]="endDate" [(ngModel)]="startDate" name="startDate"
                                                placeholder="{{'label.StartDate' | translate}}"
                                                [matDatepicker]="picker3" class="payment-Inputs"
                                                style="border: none; outline: 0; width: 100%;" />
                                            <mat-datepicker-toggle matSuffix [for]="picker3"
                                                class="position-absolute icon-date-firm date-img">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                            <div class="notValidated mt-2">
                                                <div
                                                    *ngIf="(startDate == null || startDate == undefined) && notValidatedEdit == true">
                                                    {{"error._name"|translate}}</div>
                                            </div>
                                        </div>
                                        <div class="mt-4" *ngIf="editEventType == 'visit'">
                                            <p class="slote-date">{{"label.StartTime" | translate}}</p>
                                            <div class="position-relative required-firm">
                                                <select class="required-date-firm" [(ngModel)]="startDateTime"
                                                    name="startDateTime">
                                                    <option selected="selected" value="" hidden>{{"label.StartTime" |
                                                        translate}}</option>
                                                    <option value="{{list}}"
                                                        [disabled]="editValidateSlots('start', list)"
                                                        *ngFor="let list of timeDropdown">{{list}}
                                                    </option>
                                                </select>
                                                <span><img src="assets/images/time.png" alt="event-black"
                                                        class="img-fluid time-img">
                                                </span>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 35px;">
                                        <p class="slote-date">{{"label.EndDate" | translate}}</p>
                                        <div class="position-relative end-main-firm required-date-firm">
                                            <input type="text" [min]='startDate'
                                                placeholder="{{'label.EndDate' | translate}}" [(ngModel)]="endDate"
                                                name="endDate" [matDatepicker]="picker2" class="payment-Inputs"
                                                style="border: none; outline: 0; width: 100%;" />
                                            <mat-datepicker-toggle matSuffix [for]="picker2"
                                                class="position-absolute icon-date-firm date-img">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                            <div class="notValidated mt-2">
                                                <div
                                                    *ngIf="(endDate == null || endDate == undefined) && notValidatedEdit == true">
                                                    {{"error._name"|translate}}</div>
                                            </div>
                                        </div>
                                        <div class="mt-4" *ngIf="editEventType == 'visit'">
                                            <p class="slote-date">{{"label.EndTime" | translate}}</p>
                                            <div class="position-relative end-main-firm">
                                                <select class="required-date-firm" [(ngModel)]="endDateTime"
                                                    name="endDateTime">
                                                    <option selected="selected" value="" hidden>{{"label.EndTime" |
                                                        translate}}</option>
                                                    <option value="{{list}}" [disabled]="editValidateSlots('end', list)"
                                                        *ngFor="let list of timeDropdown">{{list}}
                                                    </option>
                                                </select>
                                                <span><img src="assets/images/time.png" alt="event-black"
                                                        class="img-fluid time-img">
                                                </span>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <button *ngIf="editEventType == 'visit'"
                                        (click)="EditAddTime(startDateTime,endDateTime)" class="ml-3 slot-addbtn pl-3"
                                        style="    position: absolute;
                                    top: 131px;right: 135px;">{{"label.AddSlotButton" | translate}}<span
                                            *ngIf="editSlotsLength > 0"> {{"label.AddSlotbutton_more" |
                                            translate}}</span>
                                    </button>
                                </div>
                                <div class="" style="width: 60%;margin: auto;">
                                    <h1 style="text-align: center;font-weight: 800;">{{"label.Dispo" | translate}}</h1>
                                    <div *ngFor="let time of editSlots;let i = index"
                                        class="d-flex align-items-center justify-content-around mb-3">
                                        <div class="ml-5">
                                            {{time.start}}
                                        </div>
                                        <div class="ml-5">
                                            {{time.end}}
                                        </div>
                                        <button *ngIf="editEventType == 'visit'" (click)="editRemoveTime(i)"
                                            class="slot-removebtn ml-5"><span class="material-icons mt-1"
                                                style="font-size: 18px;">
                                                close
                                            </span></button>
                                    </div>
                                    <div class="notValidated" style="margin-left: 339px;">
                                        <div *ngIf="editSlotsLength === 0 && notValidatedEdit == true">
                                            {{"label.No_slot_added" | translate}}</div>
                                    </div>
                                </div>
                                <button class="submitBtn" (click)="onSubmit(f)">{{"label.AddEventButton" |
                                    translate}}</button>
                            </form>
                            <button (click)="deleteEvent()" class="deleteSlot">{{"label.Delete_slot" |
                                translate}}</button>
                        </div>
                    </p-dialog>
                </div>
                <div class="ml-5">
                    <h4 class="viewersDetails">{{"label.viewer_details" | translate}}</h4>
                    <div class="d-flex">
                       
                        <div class="referenceColor-rented ml-3"></div>
                        <h4>{{"label.testavailability" | translate}}</h4>
                        <div class="referenceColor-visit ml-3"></div>
                        <h4>{{"label.visitavailability" | translate}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--slots calendar end -->