<div class="d-flex reset-bg-img">
    <div class="reset-flex"></div>
    <div class="reset-form">
        <div class="reset-logo" (click)="navigateToHomePage()"></div>
        <div class="reset-form_div">
            <div class="reset-wrapper">
                <h4 class="reset-text">{{"label.forgotPassword"|translate}}</h4>
                <div class="reset-password">
                    <input type="password" placeholder="New Password"
                        class="form-control mail-reset-firm" [(ngModel)]="password" name="password">
                </div>
                <div class="reset-confirmPassword">
                    <input type="password" placeholder="Confirm New Password"
                        class="form-control password-reset-firm " [(ngModel)]="confirmPassword" name="confirmPassword">
                </div>
                <button type="submit" class="sub-reset-btn" (click)="resetPassword()">{{"label._submit"|translate}}</button>
            </div>
        </div>   
    </div>
    <div class="reset-flex"></div>
</div>
