<!-- <div>
    <app-header></app-header>
</div> -->
<!-- organization-bg starts here-->
<div class="organization-bg">
    <div class="d-flex align-items-center summary-bg-firm">
        <p class="perform-mes-wrapper">Information</p>
        <p class="perform-mes-wrapper">Offers</p>
        <p class="perform-mes-wrapper">Billing</p>
    </div>
    <div class="handle-wrapper">
        <div class="d-flex align-items-center change-wrapper">
            <div class="dropdown">
                <button class="btn commision-select select" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sales Commission
                </button>
                <div class="dropdown-menu sales-dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item sales-firm"> Sales Commission</a>
                    <a class="dropdown-item sales-firm">Subscription</a>
                    <a class="dropdown-item sales-firm-text" href="#">Test Bills</a>
                </div>
            </div>
            <div class="position-relative required-input">
                <input type="text" placeholder="{{'label.Search' | translate}}" class="required-form-input ml-2"><span class="material-icons required-arrow">search</span>
            </div>
        </div>
        <!--table-code starts here-->
        <table class="table table-responsive-xl">
            <thead class="thead-light">
                <tr class="">
                    <th scope="col" class="mail-firm">Reference</th>
                    <th scope="col" class="mail-firm">Date of issue</th>
                    <th scope="col" class="mail-firm">Amount</th>
                    <th scope="col" class="mail-firm">Download</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="inner-handle-text row-firm">75487575465489547</td>
                    <td class="inner-handle-text row-firm">06/01/2021</td>
                    <td class="inner-handle-text row-firm">180.00</td>
                    <td class="inner-handle-text row-firm">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr class="">
                    <td class="inner-handle-text">75487575465489547</td>
                    <td class="inner-handle-text">06/01/2021</td>
                    <td class="inner-handle-text">180.00</td>
                    <td class="inner-handle-text">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr class="">
                    <td class="inner-handle-text">75487575465489547</td>
                    <td class="inner-handle-text">06/01/2021</td>
                    <td class="inner-handle-text">180.00</td>
                    <td class="inner-handle-text">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr class="">
                    <td class="inner-handle-text">75487575465489547</td>
                    <td class="inner-handle-text">06/01/2021</td>
                    <td class="inner-handle-text">180.00</td>
                    <td class="inner-handle-text">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr class="">
                    <td class="inner-handle-text">75487575465489547</td>
                    <td class="inner-handle-text">06/01/2021</td>
                    <td class="inner-handle-text">180.00</td>
                    <td class="inner-handle-text">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr class="">
                    <td class="inner-handle-text">75487575465489547</td>
                    <td class="inner-handle-text">26/11/2020</td>
                    <td class="inner-handle-text">180.00</td>
                    <td class="inner-handle-text">
                        <img src="assets/images/download-blue.png" alt="download" class="img-fluid">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!--table-code ends here-->
        <div class="d-flex align-items-center items-page-wrapper">
            <p class="page-text-wrapper">Items per page</p>
            <div class="d-flex align-items-center arrow-num-page">
                <p class="page-num-text mt-2">10</p>
                <img src="assets/images/dropdown-blue.png" alt="down" class="img-fluid inner-page-num-text">
            </div>
            <p class="page-text-firm" style="margin-left: 33px;">1 - 10 of 20</p>
            <div class="d-flex align-items-center">
                <img src="assets/images/first-pagearrow.png" alt="page" class="img-fluid mr-4">
                <img src="assets/images/second-pagearrow.png" alt="page" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- organization-bg ends here-->